<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RPI_kursovaya.Properties.Settings.StorageDBCConnectionString"
            connectionString="Data Source=DESKTOP-OL4QFML\SQLEXPRESS; Initial Catalog=StorageBD; Integrated Security=True" />
        <add name="RPI_kursovaya.Properties.Settings.StorageBDConnectionString"
            connectionString="Data Source=DESKTOP-OL4QFML\SQLEXPRESS;Initial Catalog=StorageBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>